body {
  background-color: skyblue;
}

header {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  float: inherit;
}

section {
  display: inline;
}
 
#img1 {
  height: 150px;
  width: 230px;
  display: block;
  margin: 0 auto;
}

img {
  height: 100px;
  align-content: center;
}


nav {
  text-align: center;
  padding: 25px;
}


li {
    display: inline;
    border-radius: 5px;
    background-repeat: repeat;
    padding: 1px;
    align-content: center;
}


span {
  text-align: center;
  text-decoration: line-through;
  align-content: center;
}

.fa-circle {
  color: grey;
}


footer {
  text-align: center; 
  color:black;
  padding: 25px;
  background: lightgreen;
  border-radius: 25px;
  
}

.fa:hover {
  color: black;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
